.btn{
    background-color: #222;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: .5s;
    border-radius: 10px;
    margin-right: 2px;
}

.btn:hover{
    color: #ffbb33;
    transform: scale(1.1);
}